@model RcaAutopecas.WebApp.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Login do Vendedor";
    ViewData["GreetingTitle"] = "Acesso do Vendedor";
    ViewData["GreetingMessage"] = "Utilize suas credenciais para acessar o painel de vendas.";
}
<form asp-controller="Account" asp-action="LoginVendedor" method="post">
    <h1 class="form-title mb-4"><strong>Login do Vendedor</strong></h1>

    <!-- Div para exibir erros de validação gerais -->
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="Senha" class="form-control" placeholder="Senha" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <div class="form-options">
        <a href="#">Esqueceu a senha?</a>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">ENTRAR</button>
    </div>

    <div class="social-login">
        <p>Siga-nos</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/people/RCA-Autope%C3%A7as/61565654932119/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/rceaautopecas/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/rceaautope%C3%A7as" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com/watch?v=qxrPwb0I1ys" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</form>
