@{
    ViewData["Title"] = "Página Principal";
}

@section sair {
    <form asp-controller="Account" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" style="background: none; border: none;">
            <i class="fa-solid fa-arrow-right-from-bracket fa-2xl" style="color: #ffffff;"></i>
        </button>
    </form>
}


<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Você está logado no sistema RC&A Autopeças.</p>
</div>


